<a href="https://colab.research.google.com/github/naomori/codexa_Pandas_Introduction/blob/master/Chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データ構造を確認

In [0]:
import numpy as np
import pandas as pd

In [2]:
data = np.array([['81', '100', '69', '78', '95'],
                 ['70', '93', '71', '82', '89']])
columns = np.array(['A', 'B', 'C', 'D', 'E'])
index = np.array(['Math', 'English'])
df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

          A    B   C   D   E
Math     81  100  69  78  95
English  70   93  71  82  89

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.shape

(2, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Math to English
Data columns (total 5 columns):
A    2 non-null object
B    2 non-null object
C    2 non-null object
D    2 non-null object
E    2 non-null object
dtypes: object(5)
memory usage: 96.0+ bytes

In [0]:
df = df.astype(int)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Math to English
Data columns (total 5 columns):
A    2 non-null int64
B    2 non-null int64
C    2 non-null int64
D    2 non-null int64
E    2 non-null int64
dtypes: int64(5)
memory usage: 96.0+ bytes

# DataFrame.describe()
基礎統計量を DataFrame.describe()で取得できる

In [9]:
df.describe()

               A           B          C          D          E
count   2.000000    2.000000   2.000000   2.000000   2.000000
mean   75.500000   96.500000  70.000000  80.000000  92.000000
std     7.778175    4.949747   1.414214   2.828427   4.242641
min    70.000000   93.000000  69.000000  78.000000  89.000000
25%    72.750000   94.750000  69.500000  79.000000  90.500000
50%    75.500000   96.500000  70.000000  80.000000  92.000000
75%    78.250000   98.250000  70.500000  81.000000  93.500000
max    81.000000  100.000000  71.000000  82.000000  95.000000

# データフレームの要素へのアクセス

In [10]:
print(df)

          A    B   C   D   E
Math     81  100  69  78  95
English  70   93  71  82  89

In [11]:
df['A']

Math       81
English    70
Name: A, dtype: int64

２次元から１次元になっているので Series になっている

In [12]:
type(df['A'])

pandas.core.series.Series

カラム名を直接指定できるが、カラム名にスペースが入っていると使えない

In [14]:
df.A

Math       81
English    70
Name: A, dtype: int64

データフレームの行・列のラベル名（index, columns）で指定

In [16]:
df.loc[:, ['A']]

          A
Math     81
English  70

In [17]:
df.loc['Math', ['A', 'C']]

A    81
C    69
Name: Math, dtype: int64

行番号と列番号でアクセスする

In [18]:
df.iloc[0]

A     81
B    100
C     69
D     78
E     95
Name: Math, dtype: int64

In [20]:
df.iloc[1]

A    70
B    93
C    71
D    82
E    89
Name: English, dtype: int64

In [24]:
df.iloc[0, [0]]

A    81
Name: Math, dtype: int64

In [25]:
df.iloc[:, 0:3]

          A    B   C
Math     81  100  69
English  70   93  71

In [26]:
df.iloc[0, 0:4]

A     81
B    100
C     69
D     78
Name: Math, dtype: int64