<a href="https://colab.research.google.com/github/naomori/codexa_Pandas_Introduction/blob/master/Chapter6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://www.codexa.net/wp-content/uploads/2017/12/002-3.csv

--2019-07-26 05:35:24--  https://www.codexa.net/wp-content/uploads/2017/12/002-3.csv
Resolving www.codexa.net (www.codexa.net)... 13.115.61.79, 54.64.62.39
Connecting to www.codexa.net (www.codexa.net)|13.115.61.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1473 (1.4K) [application/octet-stream]
Saving to: ‘002-3.csv’

002-3.csv           100%[===================>]   1.44K  --.-KB/s    in 0s

2019-07-26 05:35:24 (25.8 MB/s) - ‘002-3.csv’ saved [1473/1473]

In [0]:
import pandas as pd

In [0]:
df3 = pd.read_csv('002-3.csv')

In [5]:
df3.head()

   id  Height  Weight
0   1   152.0    84.0
1   2   152.0    75.0
2   3   152.0    81.0
3   4   152.0    76.0
4   5   152.0    61.0

In [6]:
df3.tail()

      id  Height  Weight
141  142   184.0    80.0
142  143   184.0    61.0
143  144   185.0    62.0
144  145   185.0    67.0
145  146   185.0    90.0

In [7]:
df3.shape

(146, 3)

## 欠損データの確認

In [8]:
df3.isnull().any()

id        False
Height     True
Weight     True
dtype: bool

In [9]:
df3.isnull().sum()

id        0
Height    9
Weight    7
dtype: int64

In [10]:
df3.head(30)

    id  Height  Weight
0    1   152.0    84.0
1    2   152.0    75.0
2    3   152.0    81.0
3    4   152.0    76.0
4    5   152.0    61.0
5    6   153.0    65.0
6    7   153.0    88.0
7    8   153.0    82.0
8    9   153.0    63.0
9   10   153.0    83.0
10  11   153.0    82.0
11  12     NaN    82.0
12  13   155.0    59.0
13  14   155.0    84.0
14  15   155.0     NaN
15  16     NaN    71.0
16  17   156.0    81.0
17  18   156.0    84.0
18  19     NaN    61.0
19  20   156.0    81.0
20  21   156.0    65.0
21  22   157.0    78.0
22  23   157.0    69.0
23  24   157.0    86.0
24  25   158.0     NaN
25  26   158.0     NaN
26  27   158.0    87.0
27  28   158.0    80.0
28  29   159.0    92.0
29  30   159.0    59.0

### 欠損データとして１つ前のレコードのデータを使う

In [0]:
df3['Height'] = df3['Height'].fillna(method='ffill')

In [17]:
df3.head(30)

    id  Height  Weight
0    1   152.0    84.0
1    2   152.0    75.0
2    3   152.0    81.0
3    4   152.0    76.0
4    5   152.0    61.0
5    6   153.0    65.0
6    7   153.0    88.0
7    8   153.0    82.0
8    9   153.0    63.0
9   10   153.0    83.0
10  11   153.0    82.0
11  12   153.0    82.0
12  13   155.0    59.0
13  14   155.0    84.0
14  15   155.0     NaN
15  16   155.0    71.0
16  17   156.0    81.0
17  18   156.0    84.0
18  19   156.0    61.0
19  20   156.0    81.0
20  21   156.0    65.0
21  22   157.0    78.0
22  23   157.0    69.0
23  24   157.0    86.0
24  25   158.0     NaN
25  26   158.0     NaN
26  27   158.0    87.0
27  28   158.0    80.0
28  29   159.0    92.0
29  30   159.0    59.0

In [18]:
df3.isnull().any()

id        False
Height    False
Weight     True
dtype: bool

### 体重の欠損データとして中央値を使って埋める

In [0]:
df3['Weight'] = df3['Weight'].fillna(df3['Weight'].median())

In [21]:
df3.isnull().any()

id        False
Height    False
Weight    False
dtype: bool

In [22]:
df3.head(30)

    id  Height  Weight
0    1   152.0    84.0
1    2   152.0    75.0
2    3   152.0    81.0
3    4   152.0    76.0
4    5   152.0    61.0
5    6   153.0    65.0
6    7   153.0    88.0
7    8   153.0    82.0
8    9   153.0    63.0
9   10   153.0    83.0
10  11   153.0    82.0
11  12   153.0    82.0
12  13   155.0    59.0
13  14   155.0    84.0
14  15   155.0    76.0
15  16   155.0    71.0
16  17   156.0    81.0
17  18   156.0    84.0
18  19   156.0    61.0
19  20   156.0    81.0
20  21   156.0    65.0
21  22   157.0    78.0
22  23   157.0    69.0
23  24   157.0    86.0
24  25   158.0    76.0
25  26   158.0    76.0
26  27   158.0    87.0
27  28   158.0    80.0
28  29   159.0    92.0
29  30   159.0    59.0

In [23]:
df3.isnull().sum()

id        0
Height    0
Weight    0
dtype: int64

In [24]:
df3.describe()

               id      Height      Weight
count  146.000000  146.000000  146.000000
mean    73.500000  167.760274   75.130137
std     42.290661    9.226128   10.175877
min      1.000000  152.000000   58.000000
25%     37.250000  161.000000   66.000000
50%     73.500000  167.000000   76.000000
75%    109.750000  175.750000   84.000000
max    146.000000  185.000000   92.000000

## BMI(Body Mass Index) を使って考察してみる

$BMI = \frac{Weight[cm]}{Height[m]^2}$

1. lamda を使う
2. 関数を使う

In [25]:
df3.head()

   id  Height  Weight
0   1   152.0    84.0
1   2   152.0    75.0
2   3   152.0    81.0
3   4   152.0    76.0
4   5   152.0    61.0

行ごとに apply を使って処理する場合は、axis=1, あるいは、axis='columns'を指定する。

In [0]:
df3['BMI1'] = df3.apply(lambda row: row['Weight'] / (row['Height']/100)**2, axis='columns')

In [30]:
df3.head()

   id  Height  Weight       BMI1
0   1   152.0    84.0  36.357341
1   2   152.0    75.0  32.461911
2   3   152.0    81.0  35.058864
3   4   152.0    76.0  32.894737
4   5   152.0    61.0  26.402355

上記と同じことを関数を使ってしてみる。

In [0]:
def get_bmi(row):
  return row['Weight'] / (row['Height']/100)**2

In [0]:
df3['BMI2'] = df3.apply(get_bmi, axis='columns')

In [34]:
df3.head()

   id  Height  Weight       BMI1       BMI2
0   1   152.0    84.0  36.357341  36.357341
1   2   152.0    75.0  32.461911  32.461911
2   3   152.0    81.0  35.058864  35.058864
3   4   152.0    76.0  32.894737  32.894737
4   5   152.0    61.0  26.402355  26.402355