<a href="https://colab.research.google.com/github/naomori/codexa_Pandas_Introduction/blob/master/Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas とは？

* データ解析を支援する Python ライブラリ
* Pandas には DataFrame, Series がある

# Pandas DataFrame とは？

* データを表形式（行列）にして保存することで扱いやすくなる
* ２次元のデータで「値」、「インデックス」、「列」
で構成
* 要素には、数値のみでなく文字列を入れることも可能

# Pandas Series とは？

* １次元の配列で DataFrame と同様にインデックスを持つ
* 要素には、数値のみでなく文字列を入れることも可能

In [0]:
import numpy as np
import pandas as pd

In [0]:
body = np.array([[182,169,190,178,176], [81,59,87,72,79]])

In [9]:
df = pd.DataFrame(body)
print(df)

     0    1    2    3    4
0  182  169  190  178  176
1   81   59   87   72   79

In [10]:
type(body)

numpy.ndarray

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.columns = ['Jun', 'Taka', 'Tetsu', 'Ken', 'Kazu']
print(df)

   Jun  Taka  Tetsu  Ken  Kazu
0  182   169    190  178   176
1   81    59     87   72    79

In [13]:
df.index = ['Height', 'Weight']
print(df)

        Jun  Taka  Tetsu  Ken  Kazu
Height  182   169    190  178   176
Weight   81    59     87   72    79

後でカラム名を変更することもできる。

In [0]:
df = df.rename(columns={'Jun':'Hikari'})

In [19]:
print(df)

        Hikari  Taka  Tetsu  Ken  Kazu
Height     182   169    190  178   176
Weight      81    59     87   72    79